aside.aside-left{float: left;height: 90vh;border-right:1px solid lightgrey;padding:1em;width:15%;}
.aside-left a{color:#f6921e;text-decoration:none;}
.aside-left,.aside-left>h3{font-size: medium;padding: .5em .2em}
.aside-left >ul{width: 100%;overflow: hidden;padding: .5em}
.aside-left >ul>li{padding: 2px}
.aside-left >ul a{display: inline;}
.aside-left ul.sub{margin-left: .8em;}
.aside-left ul.sub li{overflow: hidden;width: 100%}
.aside-left ul.sub li a.btn{font-size:10px;margin-top:4px;padding: 1px 4px}
.aside-left hr{margin-bottom: .5em}
.aside-left .lead li>a.selected{font-weight: 500}

.table-stock-container{width: 80%;margin:1em .5em;float: left;}
.table-stock-container .btn{background: lightgreen;color: white;border-radius: 6px;padding:.5em 1em;border: none;}
.table-stock-container .btn:active{background: green;color: lightgrey;}
.table-stock-container .btn >span{transition: .3s;padding-right: 2px;width: 0;display: inline-block;overflow: hidden;height: 0;font-weight:600;margin: auto;vertical-align: bottom}
.table-stock-container .btn:hover >span{padding-right: 8px;width: initial;height: initial;transition: .3s}

table{margin:2em auto}
table>thead>tr{background: gray;color:#FFF;font-size: initial;}
table{width: 100%;border-collapse: collapse}
table tbody td{text-align: center;font-size: medium}
table tbody tr{border: 1px solid lightgray}
table td,table th{padding: .8em}
table>tbody>tr:hover{background: #f4f4f4}

ul{list-style: none}
.options>li {width: 60%;margin: auto}
.options li{ background-color:#444; color:#fff; text-decoration:none; padding:3px 8px;font-size: 17px;transition:.3s}
.options li ul {display:none;position:absolute;}
.options li:hover{background: darkorange;transition:.3s}
.options li:hover > ul {display:block;margin-left: -60px;}
.options button{width: 70px;background-color: transparent;color: #fff;height: 25px;border: none;}

.activo-form{width: 300px;margin: auto;padding: .5em;}
.activo-form form{width: 90%;margin: auto}
.btn.right{margin:0;position: relative;float: right}
a.btn{border: 1px solid lightgray;padding:0px 5px;border-radius: 3px;color: #666;cursor:pointer}
.modal-content{width: 25%}