
header.title {
	display: block;
	font-size: 50px !important;
	font-weight:200;
	margin: auto;
	padding:1em 0;
	width: 90%;
	text-align: center;
}

section.login-section{
	border:1px solid lightgray;border-radius: 6px;background-color: #eee;width: 25%;margin: auto;
}
.login-form{display: block;width: 70%;margin: auto;overflow: hidden;padding: 1em}
.form-title{font-family: 'Raleway';font-size: larger;font-weight: 400;color:grey;text-align: center}
