#Name-Event{
  margin-top: 5%;
}
.container{
  overflow: hidden;
  width: 100%;
  margin-top: 5%;
}
.formulario{
  float: left;
  border: 1px solid black;
  width: 45%;
  margin-left: 20%;
  margin-bottom: 30px;
  
}
.formulario-cliente{
  float: left;
  border: 1px solid black;
  margin-left: 20%;
  margin-bottom: 30px;
  
}
aside{
  overflow: hidden;
  float:left;
  /*border: 2px solid green; */
  width: 45%;
}
/* ultimos cambios*/
.div-modal3{
  overflow: hidden;
  border: 2px solid green; 
  width: 100%;
}

.lista-eventos{
  margin-right:4%;
/*  float: right; /*cambiar*/
}
.formulario>form>select, .formulario-cliente>form>select, .div-modal3>.formulario>select {
  height: 25px;
  width: 200px;
  text-align: center;
  margin-left: 10%;
}

.formulario>form>input, .formulario-cliente>form>input, .div-modal3>.formulario>input{
  height: 25px;
  width: 200px;
  margin-left: 10%;
}

.formulario>form>label, .formulario-cliente>form>label, .div-modal3>.formulario>label{
  margin-left: 12%;
}

.formulario>h1,.formulario-cliente>h1 {
  margin-left: 10%;
  margin-bottom: 4%;
}

.submit{
  margin: 3%;
  border-radius: 5px;
}
.submit:hover{
  background: lightblue;
}
table>tbody>tr:nth-child(1){
  background: gray;
  color:#FFF;
  font-size: 19px;
}
tr:nth-child(odd){
    background: lightgray;
    color: #000000;
  font-size: 16px;
}
 
tr:nth-child(even){
    background: #FFFFFF;
    color: #000000;
}

.lista-activos{
  width: 20%;
  float: left;
  border: 1px solid green;
  margin-left: 15%;
}

.activos-necesarios{
  text-align: center;
  width: 30%;
  float: right;
  /*border: 1px solid green;*/
  margin-right: 10%;
}

.lista-activos>form>input, .lista-activos>form>select{
  width: 80%;
  height: 25px;
  margin-left: 10%;
}
.lista-activos>form>label{
  margin-left: 14%;
}
#table{
  margin-left: 15%;
}

.div-modal>table>tbody>tr{
  text-align: center;
}

.div-modal2>table{
  width: 100%;
  margin-bottom: 20px;
}

#table-activos{
  width: 50%;
  margin-left: 25%;
}

ul, ol {
  list-style:none;
}
			
.menu-evento>li {
  float:left;
}
			
.menu-evento li{ 
  background-color:#000;
  color:#fff;
  text-decoration:none;
  padding:3px 8px;
  display:block;
  font-size: 17px;
}
			
.menu-evento li button:hover {
  background-color: green;
}
			
.menu-evento li ul {
  display:none;
	position:absolute;
}
.menu-evento li:hover{
  background: green;
}
.menu-evento li:hover > ul {
  display:block;
  margin-left: -60px;
}

button{
	width: 70px;
	background-color: transparent;
	color: #fff;
	height: 25px;
  border: none;
}