aside.aside-left{float: left;border-right:1px solid lightgrey;padding:1em;width:15%;}
.aside-left a{color:#f6921e;text-decoration:none;}
.aside-left,.aside-left>h3{font-size: medium;padding: .5em .2em}
.aside-content{margin: 2em auto}
.formulario > .btn{width: 100%}

.div-modal3{overflow: hidden;border: 2px solid green;width: 100%;}

.lista-eventos{float: left;padding:1em 2em;width: 75%}

table{margin:2em auto}
table>thead>tr{background: gray;color:#FFF;font-size: initial;}
table{width: 100%;border-collapse: collapse}
table tbody td{text-align: center;font-size: medium}
table tbody tr{border: 1px solid lightgray}
table td, table th{padding: .8em}
table>tbody>tr:hover{background: #f4f4f4}

.lista-activos{width: 20%;float: left;border: 1px solid green;margin-left: 15%;}
.activos-necesarios{text-align: center;width: 30%;float: right;/*border: 1px solid green;*/margin-right: 10%;}
.lista-activos>form>input, .lista-activos>form>select{width: 80%;height: 25px;margin-left: 10%;}
.lista-activos>form>label{margin-left: 14%;}
#table{margin-left: 15%;}

.div-modal>table>tbody>tr{text-align: center;}
.div-modal2>table{width: 100%;margin-bottom: 20px;}

#table-activos{width: 50%;margin-left: 25%;}

ul, ol {list-style:none;}

.menu-evento>li {width: 60%;margin: auto}
.menu-evento li{ background-color:#444; color:#fff; text-decoration:none; padding:3px 8px;font-size: 17px;transition:.3s}
.menu-evento li ul {display:none;position:absolute;}
.menu-evento li:hover{background: darkorange;transition:.3s}
.menu-evento li:hover > ul {display:block;margin-left: -60px;}
.menu-evento button{width: 70px;background-color: transparent;color: #fff;height: 25px;border: none;}
